<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cellClass</key>
			<string>DuoTwitterCell</string>
			<key>firstLabel</key>
			<string>Dan</string>
			<key>firstAccount</key>
			<string>woodfairyd</string>
			<key>secondLabel</key>
			<string>🌸 Litten</string>
			<key>secondAccount</key>
			<string>schneelittchen</string>
			<key>height</key>
			<real>57</real>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>0xcc.woodfairy.koipreferences</string>
			<key>key</key>
			<string>enableBackgroundColoring</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.25</real>
			<key>defaults</key>
			<string>0xcc.woodfairy.koipreferences</string>
			<key>key</key>
			<string>backgroundAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>0xcc.woodfairy.koipreferences</string>
			<key>key</key>
			<string>selectedBackgroundColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Menu customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>0xcc.woodfairy.koipreferences</string>
			<key>key</key>
			<string>enableMenuColoring</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>0xcc.woodfairy.koipreferences</string>
			<key>key</key>
			<string>menuAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>0xcc.woodfairy.koipreferences</string>
			<key>key</key>
			<string>selectedMenuColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Magic value</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>0xcc.woodfairy.koipreferences</string>
			<key>key</key>
			<string>magic</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contributions</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Contributors</string>
 			<key>detail</key>
 			<string>KOIContributorsSubPreferencesListController</string>
 			<key>KOISub</key>
 			<string>sub/contributors</string>
 		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You might like:</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>BatteryBuddy</string>
			<key>subtitle</key>
			<string>Battery indicator, but cute</string>
			<key>icon</key>
			<string>featured/BatteryBuddy.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/BatteryBuddy/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Lisa</string>
			<key>subtitle</key>
			<string>Full incoming OLED notifications</string>
			<key>icon</key>
			<string>featured/Lisa.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/Lisa/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Koi by woodfairy and Litten, icon and banner by taki</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Discord</string>
			<key>subtitle</key>
			<string>Chat with us 👾</string>
			<key>url</key>
			<string>https://discord.gg/tKUPZrS7ve</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source code</string>
			<key>subtitle</key>
			<string>GitHub 🐠</string>
			<key>url</key>
			<string>https://github.com/woodfairy/koi</string>
		</dict>

	</array>
	<key>title</key>
	<string>Koi</string>
</dict>
</plist>
